<%= render DS::Dialog.new(variant: "drawer", frame: "bulk_transaction_edit_drawer") do |dialog| %>
  <% dialog.with_header(title: t(".title"), data: { bulk_select_target: "bulkEditDrawerHeader" }) %>

  <% dialog.with_body do %>
    <%= styled_form_with url: transactions_bulk_update_path, scope: "bulk_update", class: "h-full flex flex-col justify-between gap-4", data: { turbo_frame: "_top" } do |form| %>
      <div class="space-y-4">
        <%= render DS::Disclosure.new(title: t(".overview"), open: true) do %>
          <div class="pb-6 space-y-2">
            <%= form.date_field :date, label: t(".date"), max: Date.current %>
          </div>
        <% end %>

        <%= render DS::Disclosure.new(title: t(".transactions"), open: true) do %>
          <div class="space-y-2">
            <%= form.collection_select :category_id, Current.family.categories.alphabetically, :id, :name, { prompt: t(".select_category"), label: t(".category"), class: "text-subdued" } %>
            <%= form.collection_select :merchant_id, Current.family.merchants.alphabetically, :id, :name, { prompt: t(".select_merchant"), label: t(".merchant"), class: "text-subdued" } %>
            <%= form.select :tag_ids, Current.family.tags.alphabetically.pluck(:name, :id), { include_blank: t(".none"), multiple: true, label: t(".tags"), container_class: "h-40" } %>
            <%= form.text_area :notes, label: t(".notes"), placeholder: t(".notes_placeholder"), rows: 5 %>
          </div>
        <% end %>
      </div>

      <div class="flex justify-end gap-2 mt-auto">
        <%= render DS::Button.new(text: t(".cancel"), variant: "ghost", data: { action: "click->dialog#close" }) %>
        <%= render DS::Button.new(text: t(".save"), data: { bulk_select_scope_param: "bulk_update", action: "bulk-select#submitBulkRequest" }) %>
      </div>
    <% end %>
  <% end %>
<% end %>
