<%= content_for :page_title, t(".title") %>

<%= settings_section title: t(".general") do %>
  <div class="space-y-6">
    <%= render "settings/hostings/synth_settings" %>
    <%= render "settings/hostings/branding_settings" %>
  </div>
<% end %>

<%= settings_section title: t(".api_keys_title"), subtitle: t(".api_keys_subtitle") do %>
  <%= render "settings/hostings/api_key_settings" %>
<% end %>

<%= settings_section title: t(".invites") do %>
  <%= render "settings/hostings/invite_code_settings" %>
<% end %>
