<div class="flex flex-col h-full justify-between bg-surface">
  <nav class="p-4">
    <h1 class="sr-only">Upgrade</h1>

    <div class="flex justify-end gap-2">
      <%= render DS::Link.new(
        text: t(".account_settings"),
        icon: "settings",
        variant: "ghost",
        href: settings_profile_path,
      ) %>

      <%= render DS::Button.new(
        text: t(".sign_out"),
        icon: "log-out",
        icon_position: :right,
        variant: "ghost",
        href: session_path(Current.session),
        method: :delete
      ) %>
    </div>
  </nav>

  <div class="grow flex flex-col items-center justify-center">
    <%= image_tag "logo-color.png", class: "w-16 mb-6" %>

    <% if Current.family.trialing? %>
      <p class="text-xl lg:text-3xl text-primary font-display font-medium"><%= t(".trial_remaining", days: Current.family.days_left_in_trial) %></p>
    <% else %>
      <p class="text-xl lg:text-3xl text-primary font-display font-medium"><%= t(".trial_over") %></p>
    <% end %>

    <h2 class="text-xl lg:text-3xl font-display font-medium mb-2">
      <span class="text-secondary"><%= t(".unlock") %></span>
      <span class="bg-gradient-to-r from-[#EABE7F] to-[#957049] bg-clip-text text-transparent">Maybe</span>
      <span class="text-secondary"><%= t(".today") %></span>
    </h2>

    <p class="text-sm text-secondary mb-8"><%= t(".subtitle") %></p>

    <%= form_with url: new_subscription_path, method: :get, class: "max-w-xs", data: { turbo: false } do |form| %>
      <div class="space-y-4 mb-6">
        <%= render "subscriptions/plan_choice", form: form, plan: "annual", checked: @plan == "annual" %>
        <%= render "subscriptions/plan_choice", form: form, plan: "monthly", checked: @plan == "monthly" %>
      </div>

      <div class="text-center space-y-2">
        <%= render DS::Button.new(
          text: t(".subscribe"),
          variant: "primary",
          full_width: true
        ) %>

        <p class="text-xs text-secondary">
          <%= t(".stripe_redirect") %>
        </p>
      </div>
    <% end %>
  </div>

  <%= render "layouts/shared/footer" %>
</div>
