<h1><%= t(".greeting") %></h1>

<p><%= t(".body") %></p>

<p><strong><%= t(".changed_at") %>:</strong> <%= @changed_at %></p>

<p><%= t(".action_needed") %></p>

<%= link_to t(".cta"), settings_security_url, class: "button" %>

<p class="footer"><%= t(".ignore_if_recognized") %></p>
